*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

p {
  margin-bottom: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Space Mono", monospace;}
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 576px) {
    html {
      font-size: 40%; } }

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #4b6a9b;
  background-color: #f6f8ff;
}

.dark-mode{
  color: #fff !important;
}

.dark-mode-body{
  background-color: #141d2f;
}

.dark-mode-background-light{
  background-color: #1e2a47 !important;
  box-shadow: 0px 36px 50px -10px #0003 !important;
}

.dark-mode-background-dark{
  background-color: #141d2f !important;
}

.container {
  width: 75rem;
  padding-left: 0rem;
  padding-right: 0rem; }

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 3rem;
}

.form{
  width: 100%;
}

.form-icon{
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.btn-mode{
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.mode-text{
  font-size: 1.5rem;
}

.search-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0px 36px 50px -10px #bdc8ef33;
}

.search-input{
  width: 100%;
  padding: 2rem 2rem 2rem 6rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 2rem;
}

.error{
  display: none;
}

.btn-submit{
  position: absolute;
    right: 1rem;
    top: 0.8rem;
    border: 0;
    font-size: 1.6rem;
    border-radius: 1.2rem;
    background-color: #0079ff;
    color: #fff;
    padding: 1.5rem;
    cursor: pointer;
    transition: scale .2s;
}

.btn-submit:hover,
.btn-submit:active{
  scale: 1.1;
  background-color: #2e88ef;
}

.btn-submit:active{
  scale: .95;
}

.user-container{
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  padding: 3.8rem;
  box-shadow: 0px 36px 50px -10px #bdc8ef33;
}

.user-header{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.avatar{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.text-right{
  width: 64%;
  margin-left: auto;
  margin-top: -3rem;
}

.user-stats-wrapper{
  display: flex;
  justify-content: space-around;
  background-color: #f6f8ff;
  text-align: center;
  border-radius: 1rem;
  padding: 1.8rem;
  margin: 3rem 0;
}

.user-bottom-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px 0;
  flex-wrap: wrap;
  flex-direction: row;
}

.user-date,
.user-bio{
  font-size: 1.4rem;
}

.user-info {
  display: flex;
  gap: 1.4rem;
  width: 47.5%;
  font-size: 1.5rem;
}

.user-info p {
  font-size: 1.3rem;
}

.user{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-name{
  color: #2b3442;
  font-weight: 600;
  font-size: 2.2rem;
}

.user-nick{
  color: #0079ff;
  font-size: 1.5rem;
}

.stat-title{
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.stat-value{
  text-align: left;
  font-size: 2rem;
  color: #000;
}

.not-available{
  opacity: .5;
}

.error-message{
  font-size: 1.8rem;
  color: #ff0000;
  padding-top: 1rem;
}

@media only screen and (max-width: 576px) {
  .container{
    width: 50rem;
  }

  .stat-value{
    text-align: center;
  }

  .text-right{
    margin-top: 3rem;
    width: 100%;
  }

  .user-bottom-wrapper {
    flex-direction: column 
  } 

  body {
    height: auto; 
  }

  .header {
    margin-top: 3rem; 
  }

  .form-icon{
    width: 2.7rem;
  }
  }